---
permalink: '/'
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>Alessio Libardi</title>
    <meta
      name="description"
      content="I'm a professional Web Designer & Developer based in Trento, Italy creating delightful web experiences since 2017."
    />
    <link rel="canonical" href="https://alessio-libardi.github.io/website" />

    <link rel="stylesheet" href="./assets/styles/index.css" />
  </head>
  <body
    class="
      antialiased
      bg-gray-light
      dark:bg-gray-dark
      text-gray-dark
      dark:text-gray-light
    "
  >
    <main class="absolute inset-0 grid place-content-center p-4">
      <header>
        <h1 class="text-3xl leading-relaxed font-light">
          Hi, I'm <em class="not-italic font-bold">Alessio</em>
          <span class="animate-wave inline-block transform origin-bottom-right">
            👋🏻
          </span>
        </h1>

        <p class="text-xl font-light">
          I'm a
          <em class="not-italic font-bold">Philosophy Student</em>
          and
          <em class="not-italic font-bold">Software Engineer</em>
        </p>
      </header>

      <p class="max-w-xl my-6 font-light">
        <em class="not-italic font-bold">
          Creating digital experiences since 2017</em
        >
        helping people realize their needs by
        <em class="not-italic font-bold">combining my knowledge and passion</em>
        with my desire for constant growth
        <em class="not-italic font-bold">through a minimalist approach</em>,
        believing in quality rather than quantity.
      </p>

      <footer>
        <p class="font-light">
          Feel free to
          <a
            class="
              inline-block
              px-1
              underline
              font-bold
              dark:border-gray-light
              hover:text-gray-light
              dark:hover:text-gray-dark
              hover:bg-gray-dark
              dark:hover:bg-gray-light
              transition
            "
            href="https://linkedin.com/in/alessio-libardi"
            target="_blank"
            rel="noopener noreferrer"
            >message me</a
          >
          or
          <a
            class="
              inline-block
              px-1
              underline
              font-bold
              hover:text-gray-light
              dark:hover:text-gray-dark
              hover:bg-gray-dark
              dark:hover:bg-gray-light
              transition
            "
            href="https://github.com/alessio-libardi"
            target="_blank"
            rel="noopener noreferrer"
            >see my works</a
          >.
        </p>
      </footer>
    </main>

    <footer class="absolute bottom-4 inset-x-0 text-center">
      <p
        class="font-light"
        x-data="activities"
        x-on:load="init()"
        x-html="getActivity(currentActivity)"
      >
        Made with ❤️ on Github 👨🏻‍💻
      </p>
    </footer>

    <script type="module" src="./assets/scripts/index.js"></script>
  </body>
</html>
